.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.logintop {
text-align: center;
border-radius: 150px;
padding: 35px;
height: 75px;
margin-left: auto;
margin-right: auto;
font-weight: 600;
width: 135px;
height: 135px;
background-image: "/asset/iow.png";
border: 1px dotted #cacacc;
box-shadow: 4px 4px 10px #cacacc;
text-align: center;
justify-content: center;
}

.tagMess {
margin-left: 1em;
font-weight: 500;
}
